header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}
#api_status{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    right: 30px;
    top: 15px;
    background-color:  #cccccc; 
}
#api_status.available {
    background-color: #ff545f;
}